table{
    margin-left: 10em;
    margin-top: 2em;
    margin-bottom: 1em;
    border: solid 1px white;
    border-collapse: collapse;
    background-color: rgb(191, 181, 181);
}
td{
    border: solid 1px white;
    padding: 5pt;
}
form{
    margin-left: 5em;
    margin-right: 10em;
    width: 800px;
    background-color: rgba(214, 183, 84, 0.897);
}
#caption{
    background-color: rgb(77, 175, 77);

}
tr:nth-child(5) td:nth-child(5){
    background-color: yellow;
}
td:hover{
    background-color: red;
}
#next{
    text-align: right;
}
.hoverNode {
    background-color: yellow;
}